---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import Greeting from "../../components/Greeting.astro";
import Blog from "../../components/Blog/Blog.tsx";
const allPosts = Object.values(
  import.meta.glob("../../content/journal/*.md*", { eager: true })
).reverse();

export interface Post {
  layout?: string;
  title: string;
  date: string;
  tags: string[];
  summary: string;
  contributor: string;
}
---

<Layout pageTitle="Journal">
  <div>
    <Greeting
      title="Journal"
      subtext="This is my tiny corner of the internet—a journal of things I find interesting, weird, or just too cool not to hoard like a digital magpie. If you spot something that belongs to you and it’s not properly credited, or if I’ve accidentally committed a copyright sin, or even if you just think I’m totally wrong about something—don’t be shy! Shoot me an email. I love learning, chatting, and being gently corrected like a confused grandpa with a new phone. Thanks for stopping by. You're officially 23% cooler now."
    />
    {/** Blogpost list */}
    <Blog posts={allPosts.map((post: any) => post.frontmatter)} client:load />
  </div>
</Layout>
