---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Greeting from "../components/Greeting.astro";
---

<Layout>
  <div>
    <Greeting
      title="Playground"
      subtext="These are projects I’ve been tinkering with—some from learning, some just for kicks. Not everything’s sparkling clean, but hey, that’s part of the charm. Hope you find something that catches your eye!"
    />
    {/** Portfolio items */}
  </div>
</Layout>
