---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Greeting from "../components/Greeting.astro";
---

<Layout>
  <div>
    <Greeting
      title="Tidbits"
      subtext="These thoughts were beamed to me via a squirrel council operating out of a toaster. They're technically mine now, so if you want to share them, just attribute them to me. And please, don’t steal them unless you want to be cursed with eternal hiccups."
    />
    {/** Tidbit items */}
  </div>
</Layout>
