---
import "iconify-icon";
---

<footer>
  <div class="info">
    <iconify-icon icon="mingcute:bird-line" class="icon" id="bird-icon"
    ></iconify-icon>
    <div class="text">
      <div>This work is licensed under</div>
      <a
        href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1"
        >CC BY-NC-ND 4.0.</a
      >
    </div>
  </div>
  <div class="info">
    <iconify-icon icon="pixel:seedlings-solid" class="icon" id="seedling-icon"
    ></iconify-icon>
    <div class="text">
      Github: <a href="https://github.com/cakebatterandsprinkles/astro-magic"
        >astro-magic</a
      > by <a href="https://github.com/cakebatterandsprinkles"
        >cakebatterandsprinkles</a
      >
    </div>
  </div>
</footer>
<style>
  footer {
    padding: 1em 1em 3em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: var(--gray);
    text-align: center;
    font-size: 0.85rem;
    font-family: "Anonymous Pro", monospace;
    a {
      color: var(--grassgreen);
      margin: 0 0.25rem;
    }
    a:hover {
      color: var(--candypink);
    }
    a:visited {
      color: var(--cadmiumorange);
    }
  }

  .info {
    display: flex;
    justify-content: center;
  }
  .text {
    display: flex;
  }

  .icon {
    margin-right: 0.5rem;
    color: var(--grassgreen);
  }

  #seedling-icon {
    font-size: 1.1rem;
  }
  #bird-icon {
    font-size: 1.2rem;
  }

  @media (max-width: 500px) {
    .text {
      font-size: 0.7rem;
    }
  }
</style>
