.iconContainer {
  display: flex;
  align-items: center;
}

.rssIcon {
  text-decoration: none;
  height: 1.75rem;
  width: auto;
  cursor: pointer;
  color: var(--cadmiumorange);
  margin-left: 0.5rem;
}

.rssIcon:hover {
  color: var(--orange);
}

.sidebar {
  width: auto;
  background-color: white;
  padding: 1rem;
  border: 1px solid var(--lightgray);
  border-radius: 2rem;
  margin: 1.5rem 0;
}

.tagSideWrapper > .tag {
  padding: 0.25rem 0.4rem;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  color: var(--snow);
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  cursor: pointer;
}

.tagWrapper > .tag {
  padding: 0.25rem 0.4rem;
  margin-right: 0.25rem;
  margin-bottom: 0;
  color: var(--snow);
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 5px;
  font-family: "Roboto Mono", monospace;
  cursor: default;
  opacity: 65%;
  white-space: nowrap;
}

.springgreen {
  background-color: var(--springgreen);
}

.yellow {
  background-color: var(--yellow);
}

.orange {
  background-color: var(--orange);
}

.crimson {
  background-color: var(--crimson);
}

.green {
  background-color: var(--limegreen);
}

.grassgreen {
  background-color: var(--grassgreen);
}

.ivygreen {
  background-color: var(--ivygreen);
}

.firered {
  background-color: var(--firered);
}

.palepink {
  background-color: var(--palepink);
}

.candypink {
  background-color: var(--candypink);
}

.blue {
  background-color: var(--cornflowerblue);
}

.indigo {
  background-color: var(--indigo);
}

.purple {
  background-color: var(--darkviolet);
}

.pink {
  background-color: var(--deeppink);
}

.salmon {
  background-color: var(--salmon);
}

.seagreen {
  background-color: var(--seagreen);
}

.lightpurple {
  background-color: var(--purple);
}

.cadmiumorange {
  background-color: var(--cadmiumorange);
}

.aeroblue {
  background-color: var(--aeroblue);
}

.mediumpurple {
  background-color: var(--mediumpurple);
}

.indianred {
  background-color: var(--indianred);
}

/* sidebar styling */

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 120px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.searchIcon {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 1rem;
  color: var(--coolgray);
}

.clearIcon {
  position: absolute;
  top: 14px;
  right: 16px;
  width: 1.2rem;
  cursor: pointer;
  color: var(--coolgray);
}

.invisible {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 12px;
  cursor: pointer;
  visibility: hidden;
}

.search {
  border: 1px solid var(--darkcloudgray);
  border-radius: 15px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: var(--snow);
}

.search:hover,
.search:focus {
  border: 1.5px solid var(--yellow);
}

/* Sidebar tags styling */

hr {
  border: 0;
  background: var(--darkgray);
  margin-bottom: 1rem;
}

.heading {
  font-family: var(--heading-font);
  font-size: 1.1rem;
  border-bottom: 1px solid var(--darkgray);
}

.tagSideContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.tagSideWrapper {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
}

/* reset button styling */

.resetContainer {
  display: flex;
  margin-top: 0.5rem;
  padding: 0.5rem;
  padding-left: 0;
  align-items: center;
  cursor: pointer;
}

.wandIcon {
  height: 1rem;
  width: auto;
  margin-bottom: 0;
  margin-right: 0.25rem;
  color: var(--coolgray);
}

.resetText {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0;
  color: var(--darkgray);
}

/* date container styling */

.dateContainer {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.dateContainerSidebar {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.dateIcon {
  width: 1rem;
  height: auto;
  margin-right: 0.2rem;
  margin-bottom: 0.1rem;
}

.year {
  font-size: 0.8rem;
  font-family: var(--heading-font), "monospace";
  margin-right: 0.75rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  border: 1px solid var(--darkgray);
  color: var(--darkgray);
  background-color: var(--dirtysnow);
  border-radius: 5px;
}

/* Contributor related styling */

.contributorContainer {
  display: flex;
  align-items: center;
  font-family: var(--article-font), "sans-serif";
  font-size: 0.85rem;
  padding: 0.1rem 0.25rem;
  border: 1px solid var(--lightgray);
  background-color: var(--snow);
  border-radius: 5px;
}

.contributorContainer > * {
  margin-right: 0.25rem;
}

.contributorIcon {
  width: 1rem;
  height: auto;
  color: var(--orange);
}

.contributorAvatar {
  border-radius: 20px;
  height: 1.5rem;
  margin-bottom: 0;
}

.contributorLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contributorHeading {
  font-family: var(--heading-font);
  margin-bottom: 0;
}

@media (max-width: 1680px) {
  .blogWrapper {
    width: 800px;
  }
}

@media (max-width: 1200px) {
  .sidebar {
    order: -1;
    width: 100%;
    padding: 1rem;
    min-height: 23vh;
    margin: 0;
  }

  .blogWrapper {
    width: 100%;
    padding: 2rem;
    min-height: 90vh;
    margin-top: 1rem;
  }

  .dateContainerSidebar {
    margin-top: 1rem;
  }
  .mainHeading {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .search {
    font-size: 0.9rem;
  }

  .contributorContainer {
    font-size: 0.75rem;
    border: none;
    padding: 0;
    background-color: inherit;
    margin-top: 0.25rem;
  }

  .contributorAvatar {
    height: 1.3rem;
  }

  .tagAndContributorContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 330px) {
  .sidebar {
    padding: 0.5rem;
    min-height: 45vh;
  }

  .dateContainer {
    margin: 1rem 0;
  }
}
