---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"journal">["data"];

const { title, summary, date, tags, contributor } = Astro.props;
---

<Layout pageTitle="Journal">
  <div class="post-wrapper">
    <div class="post-header-container">
      <div class="post-header">{title}</div>
      <div class="article-date">
        <iconify-icon icon="entypo:calendar" class="mr-1"></iconify-icon>
        {
          date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </div>
    </div>

    <div
      class="prose max-w-none prose-pre:my-1 prose-p:my-0.5 prose-img:my-0 prose-h6:text-sm prose-h4:mt-4 prose-h3:mt-6 prose-h3:mb-2 prose-ol:mt-0.5 prose-ol:mb-3.5 prose-ul:mt-0.5 prose-ul:mb-3.5 prose-li:my-0 prose-strong:font-semibold prose-strong:text-base prose-hr:my-2 prose-hr:border-t-2"
    >
      <slot />
    </div>
  </div>
</Layout>

<style>
  .post-wrapper {
    a {
      color: var(--black);
      text-decoration: none;
      font-weight: 600;
      padding: 0 0.1rem;
      border-bottom: 2px solid var(--yellow);
      background-image: linear-gradient(
        120deg,
        var(--yellow) 0%,
        var(--yellow) 100%
      );
      background-repeat: no-repeat;
      background-size: 100% 0em;
      background-position: 0 100%;
      transition:
        background-size 0.2s ease-in,
        border-width 0.05s ease-in 0.15s;
      line-height: 1.25rem;
    }

    a:hover {
      border-bottom: none;
      background-size: 100% 100%;
      padding: 0.2rem 0.1rem;
    }
  }
  .post-header-container {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--lightgray);
  }

  .post-header {
    font-family: var(--pixel-font);
    font-size: 1.5rem;
  }

  .article-date {
    font-size: 0.8rem;
    white-space: nowrap;
    color: var(--darkgray);
    padding-top: 0.35rem;
    display: flex;
    align-items: center;
  }
</style>
